* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Big Shoulders Display', cursive;
  color: white;
}

h1{
  color:hsl(179 100% 13%)
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  padding: 1.25em;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  padding: 1.5em 2.5em;
  color: hsla(0, 0%, 100%, 0.75);
}

article {
  min-height: 200px;
  margin-bottom: 1em
}

section img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  margin-bottom: 1em;
}

section h2 {
  text-transform: uppercase;
  font-size: 3rem;
  color: hsl(0, 0%, 95%);
  margin-bottom: 0.5em;
}

section p {
  letter-spacing: 1.2px;
  height: 8em;
}

.section-orange {
  background-color:  hsl(31 77% 52%);
  border-radius: 8px 0 0 8px;
}

.section-teal {
  background-color: hsl(184 100% 22%);
}

.section-dark{
  background-color: hsl(179 100% 13%);
  border-radius: 0 8px 8px 0;
}

.btn-learn {
  padding: 1em 2.5em;
  background-color: white;
  border-radius: 2em;
  align-self: flex-start;
  font-family: 'Lexend Deca', sans-serif;
}

.btn-learn:hover, .btn-learn:focus {
  background-color: transparent;
  color: white;
  border: solid 2px white;
  cursor: pointer;
}

.btn-orange {
  color:  hsl(31 77% 52%);
}

.btn-teal {
  color:  hsl(184 100% 22%);
}

.btn-dark {
  color: hsl(179 100% 13%);
}

@media (max-width:900px) {
  main {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
  }

  section{
    max-height: 200px;
  }

  section p {
    max-width: 350px;
  }

  .section-orange {
    border-radius: 8px 8px 0 0;
  }

  .section-dark{
    border-radius: 0  0 8px 8px;
  }
}
